// import all the Plus Jakarta Sans font files from the ./webfonts/ directory
@import url('https://cdn.jsdelivr.net/npm/plusplusjakartasans@latest/plusjakartasans.css');



:root{
    --scale: 1.0;   
    --theme-color: #F44336;
    
    --dark-shade: 0,0,0;
    --background-color:  245,245,245;
    --shade-color: 150,150,150;
    --item-color: 225,225,225;
    --highlight: 220,220,220;
    --text-color: 33,33,33;
    --text-selected: 0,0,0; 
    --popup-warning-bg: 236, 225, 129, 0.555;
    --popup-warning-text: 124, 117, 19;
    --popup-green-bg: 192, 236, 129, 0.8;
    --popup-green-text: 19, 124, 19;
    --popup-error-bg: 236, 68, 68;
    --popup-error-text: 255,255,255;
}

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 15px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(184, 184, 184);
        border-radius: 15px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #888888;
    }
    
    
    a{
        text-decoration: none;
        color: inherit;
    }
    
    
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    body{
        $widescreen: true;

        color: #fff;
        // background-size: 120%;
        // background-repeat: no-repeat;
        background-position: center!important;
        overflow: hidden;
        transition: 0.75s cubic-bezier(0.4, 0, 0.2, 1);


        .popup-background{
            position: absolute;
            display: grid;
            place-content: center;
            justify-content: center;
            opacity: 0;
            display: none;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.459);
            z-index: 9998;
            transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            
            // basic popup
            .popup{
                transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                background-color: rgb(var(--background-color));
                border-radius: 10px;
                padding: 20px;
                max-width: 700px;
                max-height: 90vh;
                z-index: 9999;
                color: rgb(var(--text-color));
                position: relative;
                size: 100%;
                animation: openPopup 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                overflow-y: scroll;

                @keyframes openPopup {
                    0% {
                        opacity: 0;
                        transform: scale(0.9);
                    }
                    100% {
                        opacity: 1;
                        transform: scale(1);
                    }
                    
                }


                .close{
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    color: rgb(var(--text-color));
                    font-size: 1.5em;
                    z-index: 9999;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                }
                
                
                #title{
                    font-size: 1.5em;
                    font-weight: 500;
                    color: rgb(var(--text-color));
                    text-align: center;
                    // margin: auto;
                    width: 30%;
                    margin: 0 auto;
                    padding-bottom: 10px;
                    padding-top: 15px;
                    border-bottom: 1px solid rgb(var(--shade-color));
                    

                    #title-main{
                        font-weight: 700;
                        text-align: center;
                        width: 100%;
                    }
                    
                    
                    #betaBadge{
                        color: rgb(var(--text-color));
                        padding: 5px;
                        border-radius: 5px;
                        font-size: 0.5em;
                        font-weight: 500;
                    }
                }
                
                #cl-description{
                    #cl-descContent{
                            color: rgb(var(--text-color));
                            margin-bottom: 5px;
                            padding: 15px;
                            margin-left: auto;
                            margin-right: auto;
                            overflow: auto;
                            overflow-x: hidden;
                            max-height: calc(90vh - 100px);
                    }
                    
                    
                    

                    #cl-updates{
                            li{
                                list-style-type: none; 
                                padding-left: 5px;
                            } 

                        background-color: rgba(var(--popup-green-bg));
                        color: rgb(var(--popup-green-text));
                        padding: 20px;
                        border-radius: 10px;
                    }

                    #cl-notice{
                        ul{
                            padding-left: 20px;
                            // line list
                            li{
                                list-style-type: none; 
                                padding-left: 5px;

                                &:before{
                                    content: '-';
                                    color: inherit;
                                    font-size: 1em;
                                    margin-left: -20px;
                                    margin-right: 10px;
                                }
                            }

                            
                        }

                        background-color: rgba(var(--popup-warning-bg));
                        color: rgb(var(--popup-warning-text));
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 15px;
                    }

                    #cl-error{
                        display: flex;
                        align-items: center;
                        text-align: left;
                        justify-content: flex-start;
                        background-color: rgb(var(--popup-error-bg));
                        color: rgb(var(--popup-error-text));
                        padding: 20px;
                        border-radius: 10px;
                        margin-bottom: 15px;

                        div{
                            margin-left: 15px;
                        }
                    }

                }

                .cl-media{
                    padding: 15px;
                    padding-top: 15px;
                    display: grid;
                    place-content: center;
                    justify-content: center;
                    margin-left: auto;
                    margin-right: auto;
                    
                    img{
                        border-radius: 10px;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }

                .footer{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    padding: 10px;
                    padding-right: 15px;
                    
                    .social-items a{
                        font-size: 25px;
                        color: inherit;
                        margin-left: 5px;
                        height: 32px;
                        width: 32px;
                        padding: 5px;

                        
                    }
                }

                .buttons{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 10px;


                    button{
                        color: var(--color-primary);
                        border-radius: 5px;
                        padding: 10px;
                        margin: 5px;
                        font-size: 0.8em;
                        font-weight: bold;
                        cursor: pointer;
                        transition: 0.2s;
                        border: none;
                        outline: none;
                        background-color: rgb(var(--text-color));
                    }
                }

                #settings-title{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 20px;
                    font-size: 1.5em;
                    margin-left: 5px;
                }

                #settings-wrapper{
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;

                    #settings-menu{
                        width: 10rem;
                        
                        
                        .settings-menuItem{
                            border-radius: 10px;
                            color: rgb(var(--text-color));
                            padding: 10px;
                            margin: 5px;
                            transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                            
                            span{
                                margin-left: 5px;
                                transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
                            }

                            &:hover{
                                background-color: rgba(var(--highlight), 0.8);
                                cursor: pointer;
                            }

                            &:hover span{
                                margin-left: 10px;
                            }
                        }


                        .settings-menuItem--selected{
                            background-color: rgb(var(--highlight));
                            color: rgb(var(--text-selected));
                            border-radius: 10px;
                            padding: 10px;
                            margin: 5px;
                            transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1), margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                            span{
                                margin-left: 10px;
                                transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1), margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                            }

                            &:hover{
                                background-color: rgb(var(--highlight));
                            }
                        }
                    }
                            
                    #settings-content{
                        padding: 10px;
                        min-width: 500px;
                        min-height: 350px;
                        max-height: 350px;
                        max-width: 500px;
                        padding-left: 25px;
                        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.1s;
                        overflow-y: auto;

                        .empty{
                            margin: auto;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            display: grid;
                            place-content: center;
                            justify-content: center;
                        }
                        
                        
                        .wp-row{                    
                            display: flex;
                            
                            flex-direction: row;
                            overflow-x: auto;
                            overflow-y: hidden;
                            margin-bottom: 15px;
                            padding-bottom: 10px;
                            
                            #wp-earth{
                                background: url("https://www.bing.com/images/blob?bcid=RNtYEmxYJdsDqxcxoNWLuD9SqbotqVTdPwU");
                                background-size: 150% auto;
                                background-position: center;
                                transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

                                &:hover{
                                    background-size: 120% auto;
                                }

                                &::after{
                                    content: " ";
                                    background-image: url("https://www.seekpng.com/png/full/788-7887426_google-g-png-google-logo-white-png.png");
                                    background-size: 30% auto;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-color: #1f1f1f93;
                                    border-radius: 5px;

                                    height: 100%;
                                    width: 100%;
                                    display: grid;
                                }
                            }

                            #wp-unsplash{
                                background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
                                background-size: 120% auto;
                                background-position: center;
                                
                                transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                                
                                &:hover{
                                    background-size: 100% auto;
                                }
                                
                                
                                &::after{
                                    content: " ";
                                    background-image: url("https://static.integromat.com/img/packages/unsplash_256.png");
                                    background-size: 30% auto;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-color: #1f1f1f5e;
                                    border-radius: 3px;

                                    height: 100%;
                                    width: 100%;
                                    display: grid;

                                }
                            }

                            #wp-custom{
                                background-size: 120% auto;
                                background-position: center;
                                background-color: #1f1f1f5e;

                                transition: all 0.5s cubic-bezier(0.2, 0, 0.2, 1);
                                
                                &:hover{
                                    background-size: 100% auto;
                                }
                                
                                
                                &::after{
                                    content: " ";
                                    background-image: url("https://icon-library.com/images/white-plus-icon/white-plus-icon-3.jpg");
                                    background-size: 30% auto;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-color: #8888885e;
                                    border-radius: 3px;

                                    height: 100%;
                                    width: 100%;
                                    display: grid;

                                }
                            }

                            .wp-box{
                                min-height: 70px;
                                min-width: 100px;
                                margin: 5px;
                                border-radius: 5px; 
                                position: relative;

                                // &::after{
                                //     content: " ";
                                //     background-image: url("../assets/images/check.svg");
                                //     position: absolute;
                                //     height: 100%;
                                //     width: 100%;
                                //     top: 50%;
                                //     left: 50%;
                                //     background-repeat: no-repeat;
                                //     background-position: center;
                                //     background-size: 30%;
                                //     opacity: 0;
                                //     transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                                //     transform: translate(-50%, -50%) scale(0.65);
                                // }    
                                
                            }
                            
                            

                            .wp-box-selected{
                                min-height: 64px;
                                min-width: 80px;
                                margin: 5px;
                                border-radius: 5px;    
                                position: relative;

                                &::after{
                                    content: " ";
                                    background-image: url("../assets/images/check.svg");
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    top: 50%;
                                    left: 50%;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 30%;
                                    opacity: 1;
                                    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                                    transform: translate(-50%, -50%) scale(1);
                                }
                            }
                        }


                        .color-row{
                            display: flex;
                            
                            flex-direction: row;
                            overflow-x: auto;
                            overflow-y: hidden;
                            margin-bottom: 25px;
                            padding-bottom: 5px;

                            .color-box{
                                min-height: 70px;
                                min-width: 100px;
                                background-color: black;
                                margin: 5px;
                                border-radius: 5px; 
                                position: relative;
                                cursor: pointer;

                                &::after{
                                    content: " ";
                                    background-image: url("../assets/images/check.svg");
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    top: 50%;
                                    left: 50%;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 30%;
                                    opacity: 0;
                                    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                                    transform: translate(-50%, -50%) scale(0.65);


                                }              
                            }

                            .color-box-selected{
                                min-height: 70px;
                                min-width: 100px;
                                background-color: black;
                                margin: 5px;
                                border-radius: 5px;    
                                position: relative;

                                &::after{
                                    content: " ";
                                    background-image: url("../assets/images/check.svg");
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    top: 50%;
                                    left: 50%;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 30%;
                                    opacity: 1;
                                    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                                    transform: translate(-50%, -50%) scale(1);
                                }
                            }
                        }

                        .warning{
                            i{
                                padding-right: 5px;
                            }
                            ul{
                                padding-left: 20px;
                                // line list
                                li{
                                    list-style-type: none; 
                                    padding-left: 5px;
    
                                    &:before{
                                        content: '-';
                                        color: inherit;
                                        font-size: 1em;
                                        margin-left: -20px;
                                        margin-right: 10px;
                                    }
                                }
    
                                
                            }
    
                            background-color: rgba(var(--popup-warning-bg));
                            color: rgba(var(--popup-warning-text));
                            transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);

                            // @if($darkmode){
                            //     background-color: rgb(var(--highlight));
                            //     color: rgb(var(--text-selected));
                            // } 
                            
                            padding: 20px;
                            margin-bottom: 20px;
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }


                        .section-title{
                            text-transform: uppercase;
                            font-size: 1em;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        .option{
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 10px;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                        }


                        
                        
                        
                        
                    }
                }       
                
                .section-langList{
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    margin-bottom: 10px;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    label{
                        width: 100%;
                        height: 100%;
                    }
    
                    .langList-item{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        background-color: rgb(var(--item-color));
                        border-radius: 10px;
                        padding: 10px;
                        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }
            }

            #tab-about{

                .section{
                    width: 100%;
                    height: 300px;
                    margin: auto;
                    text-align: center;
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    .material-icons{
                        font-size: 64px;
                    }

                    .section-update-title{
                        font-size: 24px;
                        font-weight: 600;
                        padding-bottom: 15px;

                        #subtitle{
                            font-size: 16px;
                            font-weight: 500;
                            font-family: monospace;
                        }
                    }

                    .section-update-description{

                        #version{
                            font-family: monospace;
                        }

                        #lastestVersion{
                            font-family: monospace;
                        }
                    }

                    #updateInfo{
                        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    #btn_updates{
                        background-color: rgb(var(--item-color));
                        color: rgb(var(--text-selected));
                        border: none;
                        display: flex;
                        margin: auto;
                        cursor: pointer;
                        margin-top: 15px;
                        margin-bottom: 10px;
                        padding: 10px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                        width: 200px;
                        overflow: hidden;
                        word-wrap: none;
                        white-space: nowrap;
                        opacity: 1;

                        
                        .material-icons{
                            font-size: 21px;
                        }

                        #text{
                            margin-left: 10px;
                            width: auto;
                            height: auto;
                            opacity: 1;
                            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                            word-wrap: none;
                            white-space: nowrap;
                            opacity: 1;

                        }

                        &:hover{
                            background-color: rgb(var(--highlight));
                        }
                    }

                    #btn_updates-checking{
                        background-color: rgb(var(--item-color));
                        color: rgb(var(--text-selected));
                        border: none;
                        display: flex;
                        margin: auto; 
                        margin-top: 15px;
                        margin-bottom: 10px;
                        width: 50px;
                        overflow: hidden;
                        padding: 10px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                        
                        &:disabled{
                            cursor: not-allowed;
                        }

                        #text{
                            width: 0px;
                            height: auto;
                            opacity: 0;
                            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                            word-wrap: none;
                            white-space: nowrap;
                        }

                        
                        .material-icons{
                            font-size: 21px;
                            animation: speen 1s linear infinite;
                        }

                        @keyframes speen{
                            from{
                                transform: rotate(0deg);
                            }
                            to{
                                transform: rotate(-360deg);
                            }
                        }
                    }

                }
            }
        }
        
        
        

        .background{
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: grid;
            place-content: center;
            justify-content: center;
            background-color: #1f1f1f;

            // everything but size
            transition: opacity 0.75s cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: none;
        }

        .wallpaper{
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            transform: scale(1.1);
            transform-origin: center;
            background-position: center!important;
            background-size: cover!important;
            // background-color: #1f1f1f;
            transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);
            
        }

        


        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 0.5rem;
            padding: 0.5rem;

            height: 100vh;
            width: 100vw;

            // if the variable widescreen is disabled, set the max width to 100vw and auto margin
            @if not($widescreen) {
                max-width: 1700px;
                width: 100vw;
                margin: auto;
            } @else {
                max-width: 100vw;
                margin: auto;
            }

            .contentArea{
                height: 100%;
                width: 100%;

                border: 3px dashed var(--color-primary);
                border-radius: 5px;
                transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
                transform: scale(1);
                color: var(--color-primary);
                border: 3px dashed rgba(255, 255, 255, 0);
                display: flexbox;
                padding: 15px;
                flex-direction: column;
                box-sizing: border-box;

                // &:hover{
                //     border: 3px dashed var(--color-primary); 
                //     opacity: 1;
                // }

                animation: startAnim 1.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
                // animation-delay: 0.1s;

                @keyframes startAnim{
                    0%{
                        opacity: 0; 
                        padding: 0;
                        // transform: scale(1.2);
                    }
                    
                    40%{
                        opacity: 0;
                    }

                    100%{
                        opacity: 1;
                        padding: 15px;
                        // transform: scale(1);
                    }
                }

            }

            #topLeft{
                // place the content in the top left
                text-align: left;
                
                // place the text at the top vertically
                align-self: flex-start;
                justify-self: flex-start;
            }

            #topRight{
                // place the content in the top right
                text-align: right;

                // place the text at the top vertically
                align-self: flex-start;
                justify-self: flex-end;
            }

            #bottomLeft{
                display: flex;
                flex-direction: column;

                // place the content in the bottom left
                text-align: left;

                // place the text at the bottom vertically
                align-content: flex-end;
                justify-content: flex-end;
            }

            #bottomRight{
                display: flex;
                flex-direction: column;

                // place the content in the bottom right
                text-align: right;

                // place the text at the bottom vertically
                justify-self: flex-end;
                justify-content: flex-end;


            }
        }
    }

    .digitalClock{
        
        &:hover .buttons{   
            opacity: 1;
            transform: translateY(0);
        }
        
        .buttons{
            z-index: 1;
            display: flex;
            align-items: center;
            margin: 0.5rem;
            margin-bottom: 1rem;
            margin-left: 0;
            opacity: 0;
            transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(0.5rem);
    
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: flex-start;
                margin-right: 15px;
    
                background-color: #1f1f1fbe;
                border: none;
                color: #fff;
                padding: 10px;
                height: 32px;
                width: 32px;
                font-size: 12px;
                border-radius: 100px;
                opacity: 0.8;
                transition: 0.3s ease-in-out;
    
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                }
    
                i{
                    transform: rotate(0deg);
                    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
        }

        #clock{
            font-size: 7rem;
            font-weight: 600;
            color: var(--color-primary);
            opacity: 0.9;
            line-height: 7.5rem;

            #ampm{
                font-size: 3rem;
                font-weight: 400;
                color: var(--color-primary);
                opacity: 0.9;
                line-height: 1.5rem;
            }
        }

        #date{
            font-size: 2rem;
            font-weight: 500;
            color: var(--color-primary);
            opacity: 0.8;
            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .credits{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: none;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        a{
            // disable link decoration
            text-decoration: none;
            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .weatherWrapper{
        display: none;
        opacity: 0;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        .weather{
            display: grid;
            justify-content: start;
            
            #weatherLocation{
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--color-primary);
                opacity: 0.8;
            }

            .weather-location{
                transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            .weatherInfo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                .weather-icon{
                    
                    img{
                        height: 35px;
                        width: auto;
                    }
                }
            }
        }
    }

    .checkbox{
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 5px;
        background-color: rgb(var(--background-color));
        position: relative;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            padding: 5px;
            border-radius: 5px;
            background-color: #fff;
            opacity: 0;
            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .checkbox--selected{
        background-color: var(--theme-color);
        // @if($darkmode){
        //     background-color: rgb(var(--dark-shade));
        // } 

        position: relative;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 5px;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1.5) scale(1);

        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 5px;
            border-radius: 5px;

            background-color: #fff;
            // @if($darkmode){
            //     background-color: var(--theme-color);
            // }
            

            opacity: 1;
            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

input[type="checkbox"]{
    // set the color of the checkbox to the theme color

    // @if($darkmode){
    //     background-color: rgb(var(--dark-shade));
    // }
    background-color: var(--theme-color);

}

.ctxMenu{
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-color));
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1), top 0s, left 0s;
    overflow: hidden;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: content-box;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);

    .ctx-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        border-radius: 5px;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);


        &:hover{
            background-color: rgb(var(--item-color));
            color: rgb(var(--text-color));
            cursor: pointer;
        }

        i{
            margin-right: 5px;
            font-size: 17px;
        }
    }

    .ctx-separator{
        width: 90%;
        background-color: rgb(var(--item-color));
        padding-top: 1.5px;
        margin: auto;
    }
}

#ctxm-show{
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    opacity: 1;
}

#ctxm-hidden{
    height: 0%;
    opacity: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}

